#hero-img {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  background-color:#f2f2f2;
}

#main-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70%;
  padding: 0;
  margin: 0;
}

#about-col {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

#skills-col {
  width: 100%;
  height: 500px;
  background-color:#f7efef;
}

#the-nav-bar {
  display: flex;
  flex-direction: row;
  padding-left: 30%;
}

#nav-work {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-left:10px;
}

#nav-about {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-left: 10px;
}

#nav-contact {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-left: 10px;
}
/*
@media (max-width: 1500px) {
  #the-nav-bar {
    padding-left: 50%;
  }
}


@media (max-width: 1450px) {
  #the-nav-bar {
    padding-left: 50%;
  }
}

@media (max-width: 1450px) {
  #the-nav-bar {
    padding-left: 50%;
  }
}

@media (max-width: 1300px) {
  #the-nav-bar {
    padding-left: 45%;
  }
}

@media (max-width: 1250px) {
  #the-nav-bar {
    padding-left: 45%;
  }
}

@media (max-width: 1200px) {
  #the-nav-bar {
    padding-left: 45%;
  }
}

@media (max-width: 1150px) {
  #the-nav-bar {
    padding-left: 45%;
  }
}

@media (max-width: 1100px) {
  #the-nav-bar {
    padding-left: 45%;
  }
}

@media (max-width: 1050px) {
  #the-nav-bar {
    padding-left: 40%;
  }
}

@media (max-width: 1000px) {
  #the-nav-bar {
    padding-left: 35%;
  }
}

@media (max-width: 950px) {
  #the-nav-bar {
    padding-left: 30%;
  }
}

@media (max-width: 900px) {
  #the-nav-bar {
    padding-left: 25%;
  }
}

@media (max-width: 850px) {
  #the-nav-bar {
    padding-left: 20%;
  }
}

@media (max-width: 800px) {
  #the-nav-bar {
    padding-left: 15%;
  }
}

@media (max-width: 750px) {
  #the-nav-bar {
    display: none;
  }
}*/

/*End of the nav bar */

#web-dev {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-left: 120px;
  margin-top: 0px;
}

#nav-and-name {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: center;
}

#sub-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: left;
  padding-left: 20%;
}

#name {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #263238;
  font-size: 60px;
  margin-bottom: 0px;
  padding-left: 50%;
  padding-top: 80px;
}

#welcome-msg {
  margin: 40px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  color: #263238;
  font-family: 'Varela Round', sans-serif;
}

#about-section {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color:#9E9E9E;
}

#about-contact {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color:#9E9E9E;
}

p {
  padding: 2px;
}

#page-divider {
  display: inline-block;
  width: 106%;
  border-bottom-style: solid;
  border-bottom-color: #dedede;
  border-bottom-width: 2px;
  margin-top: 50px;
  margin-left: 43%;
}
