body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, .95);
  font-size: 16px;
}

footer {
  background-color: #eeeeee;
}

p {
  padding: 2px;
}

.info-div {
  width: 28%;
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  width: 40%;
  margin-left:10%;
}

#rachel-resume {
  width: 100%;
}

#main-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70%;
  padding: 0;
  margin: 0;
}

.nav-links {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 10px;
  color: #9e9e9e;
}

.tech-icon {
  max-height: 33px;
  max-width: 32px;
  margin-right: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.tech-stack-icon {
  width: 100%;
  height: 100%;
  display: flex;
}

.tech-stack-icons {
  display: flex;
}

.card-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-top: 40px;
  line-height: 30px;
  width: 80%;
  font-weight: 300;
}

.card-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: auto;
  padding-top: 10px;
}

#resume-card {
  margin: auto;
  width: 50%;
}

#nav-and-name {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

#card-title {
  color: #17191D;
  font-size: 36px;
  line-height: 52px;
  margin: auto
}

.card-description {
  font-size: 26px;
  margin: auto;
  line-height: 52px;
}


#main-page {
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#nav-and-name-two {
  display: flex;
  flex-direction: row;
}

#second-card {
  padding-left: 20px;
}

.footer-info {
  color: #545556;
  background-color: rgba(255, 255, 255, .95);
}

#copyright-div {
  text-align: center;
}

.footer-copyright {
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, .95);
}

.card-action {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

#card-action {
  color: #9e9e9e;
}

.card-content {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

#card-action:hover {
  color:#545556;
}

.nav-links:hover {
  color:#545556;
}


.card-content-about {
  font-size: 13px;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color:#9e9e9e;
}

.page-footer {
  background-color: #eeeeee;
}

#portfolio-div {
  display: flex;
  flex-direction: row;
  margin: 100px; 
  justify-content: center;
}

#portfolio-div-contact {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 170px;
}

#portfolio-div-about {
  align-content: center;
  text-align: center;
  margin-top: 60px;
  padding-left: 33%;
}

#resume-small-screen {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 50px;
}

#portfolio-div-resume {
  align-content: center;
  text-align: center;
  margin-top: 60px;
}

#first-name {
  font-family: 'Alex Brush', cursive;
  display: flex;
  flex-direction: row;
  color: #545556;
  font-size: 75px;
  margin: 0 auto 0;
}

#last-name {
  font-family: 'Alex Brush', cursive;
  display: flex;
  flex-direction: row;
  color: #545556;
  font-size: 75px;
  padding-left: 15px;
  margin: 0 auto 0;
}

#main-page {
  display: flex;
  text-align: center;
}

/* Media Queries */
@media (max-width: 600px) {
  #portfolio-div-about {
  padding-left: 0px;
  }
}

@media (max-width: 950px) {
  #portfolio-div {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
  }
  #second-card {
    padding-left: 0px;
    margin-top: 60px;
  }
}

@media (max-width: 950px) {
  #portfolio-div {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .card-title {
    display: none;
  }

  #portfolio-div {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
  }

  #second-card {
    padding-left: 0px;
    margin-top: 60px;
  }
}


@media (max-width: 750px) {
  #rachel-resume {
    display: none;
  }
  #resume-small-screen {
    display: inline;
  }
  #copyright-div {
    padding-top: 190px;
  }
}

@media (max-width: 950px) {
  #copyright-div {
    padding-top: 180px;
  }
}

@media (min-width: 750px) {
  #resume-small-screen {
    display: none;
  }
}
